{% extends 'base.html' %}
{% block title %}Login - SmartLearn LMS{% endblock %}

{% block content %}
<div class="form-card">
    <h1>Welcome Back!</h1>
    <p style="text-align: center; margin-top: -20px; margin-bottom: 25px; color: var(--text-light);">
        Please log in to continue.
    </p>

    <form action="{{ url_for('login') }}" method="post">
        
        <label for="email">Email Address</label>
        <input type="email" name="email" id="email" placeholder="you@example.com" required>
        
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required>
        
        <button type="submit">Login</button>
    </form>

    <div class="form-footer">
        <p>Don't have an account? 
            <a href="{{ url_for('signup') }}">Sign Up Here</a>
        </p>
    </div>
</div>
{% endblock %}
